@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Noto+Serif+Display:wght@200;400;700&display=swap');

html {
    font-family: 'Noto Serif Display';
}

#root {
    margin: 0;
    display: flex;
    min-height: 100vh;
    color: white;
    background-color: #2B5554;
}

* {
    margin: 0;
}